In [0]:
spark.sql("CREATE DATABASE IF NOT EXISTS gold")
spark.sql("USE gold")

DataFrame[]

In [0]:
# === 1º PROJETO — ÁREA DE LOGÍSTICA (VENDAS POR LOCALIDADE) ===

print("=== Tabela gold_ft_vendas_consumidor_local ===")
spark.sql("SELECT * FROM gold.gold_ft_vendas_consumidor_local").show()

spark.sql("""
CREATE OR REPLACE VIEW gold.view_total_compras_por_consumidor
AS
SELECT 
    cidade,
    estado,
    COUNT(*) as quantidade_vendas,
    SUM(valor_total_pedido_brl) as valor_total_localidade
FROM gold.gold_ft_vendas_consumidor_local
GROUP BY cidade, estado
""")

print("\n=== Amostra da view view_total_compras_por_consumidor ===")
spark.sql("SELECT * FROM gold.view_total_compras_por_consumidor ORDER BY valor_total_localidade DESC").show()

# Respondendo a pergunta da área de negócio: total de vendas por estado
print("\n=== Total de Vendas por Estado (Ordenado por maior valor) ===")
spark.sql("""
SELECT 
    estado,
    SUM(quantidade_vendas) as total_vendas,
    ROUND(SUM(valor_total_localidade), 2) as valor_total_estado
FROM gold.view_total_compras_por_consumidor
GROUP BY estado
ORDER BY valor_total_estado DESC
""").show()

=== Tabela gold_ft_vendas_consumidor_local ===
+--------------------+--------------------+----------------------+--------------------+------+-----------+
|           id_pedido|       id_consumidor|valor_total_pedido_brl|              cidade|estado|data_pedido|
+--------------------+--------------------+----------------------+--------------------+------+-----------+
|09b70d085a1bfb3b4...|c1763055037cbee9f...|                  54.0|             Jundiai|    SP| 2017-05-20|
|6ea71515224447ac7...|3328102dd0972c652...|                  50.1|      Patos De Minas|    MG| 2017-07-21|
|9980c5519e01cc5a1...|68fcf3339b654cd98...|    216.60000000000002|              Mococa|    SP| 2017-01-17|
|1384e3bb7bc8ba5a4...|551f0a2f444b08c32...|                 74.32|Itapecerica Da Serra|    SP| 2017-08-07|
|5f2ca185b50a74d71...|e608c716333c772e7...|                 79.38|       Caxias Do Sul|    RS| 2018-06-06|
|0b768de519ebcf7df...|20aac2061bcd04913...|                667.71|           Apucarana|    PR| 2017-02-28|
|df27238d6c9c6613d...|e2f929dd884e4dd08...|                771.78|            Brasilia|    DF| 2018-02-04|
|5f40a2492ceef8196...|d74802c9d51f1b732...|                123.69|            Campinas|    SP| 2017-06-13|
|aff6796e5ce68e2c6...|4af4936564836bd2e...|                 24.17|Sao Bernardo Do C...|    SP| 2017-11-24|
|e097ac66f292d985c...|4eb9006df565bc421...|                102.26|          Cunha Pora|    SC| 2017-09-17|
|dbf13db0efcf04002...|bcad4bc4532c5833a...|     92.35000000000001|            Salvador|    BA| 2018-03-26|
|693c6ae1a1ab759aa...|3ffc83bdd8f4ecb07...|                1270.7|           Sao Paulo|    SP| 2018-06-08|
|c394597c0ca7c76e8...|02f374a88c3b91ae0...|                 64.03|       Guaratingueta|    SP| 2018-05-11|
|6db52864e566d8d4d...|fd636f2e6a579b324...|                 29.94|      Rio De Janeiro|    RJ| 2018-02-01|
|3d25ea8a710032b1b...|1bcafd5a67fb1b6b9...|                 58.78|           Sao Paulo|    SP| 2018-05-30|
|edb2a55c055efbb89...|193fc54759c7948c8...|                 61.64|Sao Goncalo Do Sa...|    MG| 2016-10-06|
|b2026cc24ae47d44b...|bd5f97a553bbec7fc...|                 146.9|            Brasilia|    DF| 2018-07-26|
|c5f424c38dfa71a23...|439ffed37d33decb0...|    24.689999999999998|            Salvador|    BA| 2017-08-21|
|6f3e13f4ef62b348e...|771cb90ed752d46f2...|                  99.9|      Campina Grande|    PB| 2018-05-08|
|be16722a27c9d9dcf...|3a5695bdd7131d847...|                 119.8|              Palmas|    PR| 2017-07-15|
+--------------------+--------------------+----------------------+--------------------+------+-----------+
only showing top 20 rows

=== Amostra da view view_total_compras_por_consumidor ===
+--------------------+------+-----------------+----------------------+
|              cidade|estado|quantidade_vendas|valor_total_localidade|
+--------------------+------+-----------------+----------------------+
|           Sao Paulo|    SP|            15402|     2170227.120000002|
|      Rio De Janeiro|    RJ|             6834|    1154234.0199999935|
|      Belo Horizonte|    MG|             2750|     416733.3900000006|
|            Brasilia|    DF|             2116|     352305.1400000003|
|            Curitiba|    PR|             1510|    244739.86999999994|
|        Porto Alegre|    RS|             1372|     224064.0900000002|
|            Salvador|    BA|             1238|     216772.4000000001|
|            Campinas|    SP|             1429|    212541.69999999978|
|           Guarulhos|    SP|             1178|    163575.81999999977|
|             Niteroi|    RJ|              845|    137919.37999999986|
|             Goiania|    GO|              687|     124060.5299999999|
|Sao Bernardo Do C...|    SP|              928|     119024.8499999999|
|           Fortaleza|    CE|              650|     118646.0699999999|
|              Santos|    SP|              706|             111670.21|
|              Recife|    PE|              612|    110023.51999999999|
|         Santo Andre|    SP|              792|     104630.6199999999|
|       Florianopolis|    SC|              565|     99925.36999999992|
|               Belem|    PA|              441|     95622.11999999991|
|              Osasco|    SP|              742|              94000.72|
|             Jundiai|    SP|              560|     91406.76999999995|
+--------------------+------+-----------------+----------------------+
only showing top 20 rows

=== Total de Vendas por Estado (Ordenado por maior valor) ===
+------+------------+------------------+
|estado|total_vendas|valor_total_estado|
+------+------------+------------------+
|    SP|       41375|        5921678.12|
|    RJ|       12762|        2129681.98|
|    MG|       11544|        1856161.49|
|    RS|        5432|         885826.76|
|    PR|        4998|         800935.44|
|    BA|        3358|         611506.67|
|    SC|        3612|          610213.6|
|    DF|        2125|         353229.44|
|    GO|        2007|         347706.93|
|    ES|        2025|         324801.91|
|    PE|        1648|         322237.69|
|    CE|        1327|          275606.3|
|    PA|         970|         217647.11|
|    MT|         903|         186168.96|
|    MA|         740|         151171.99|
|    PB|         532|         140987.81|
|    MS|         709|         135956.67|
|    PI|         493|         108132.28|
|    RN|         482|         101895.08|
|    AL|         411|           96229.4|
+------+------------+------------------+
only showing top 20 rows

In [0]:
# === 2º PROJETO — ÁREA DE LOGÍSTICA (ANÁLISE DE ATRASOS DE ENTREGAS) ===

print("=== Tabela gold.ft_atrasos_pedidos_local_vendedor ===")
spark.sql("SELECT * FROM gold.ft_atrasos_pedidos_local_vendedor").show()

spark.sql("""
CREATE OR REPLACE VIEW gold.view_tempo_medio_entrega_localidade
AS
SELECT 
    cidade,
    estado,
    CAST(ROUND(AVG(tempo_entrega_dias)) AS INT) as tempo_medio_entrega,
    CAST(ROUND(AVG(tempo_entrega_estimado_dias)) AS INT) as tempo_medio_estimado,
    CASE 
        WHEN AVG(tempo_entrega_dias) > AVG(tempo_entrega_estimado_dias) THEN 'SIM'
        ELSE 'NÃO'
    END as entrega_maior_que_estimado
FROM gold.ft_atrasos_pedidos_local_vendedor
WHERE entrega_no_prazo != 'Não Entregue'
GROUP BY cidade, estado
""")

print("\n=== Amostra da view view_tempo_medio_entrega_localidade ===")
spark.sql("SELECT * FROM gold.view_tempo_medio_entrega_localidade ORDER BY tempo_medio_entrega DESC LIMIT 10").show()

spark.sql("""
CREATE OR REPLACE VIEW gold.view_vendedor_pontualidade
AS
SELECT 
    id_vendedor,
    COUNT(*) as total_pedidos,
    SUM(CASE WHEN entrega_no_prazo = 'Não' THEN 1 ELSE 0 END) as total_atrasados,
    ROUND((SUM(CASE WHEN entrega_no_prazo = 'Não' THEN 1 ELSE 0 END) / COUNT(*) * 100), 2) as percentual_atraso
FROM gold.ft_atrasos_pedidos_local_vendedor
WHERE entrega_no_prazo != 'Não Entregue'
GROUP BY id_vendedor
HAVING COUNT(*)
""")

print("\n=== Amostra da view view_vendedor_pontualidade (ordenado por maior percentual de atraso) ===")
spark.sql("SELECT * FROM gold.view_vendedor_pontualidade ORDER BY percentual_atraso DESC").show()

=== Tabela gold.ft_atrasos_pedidos_local_vendedor ===
+--------------------+--------------------+--------------------+----------------+------------------+---------------------------+----------------+------+
|           id_pedido|         id_vendedor|       id_consumidor|entrega_no_prazo|tempo_entrega_dias|tempo_entrega_estimado_dias|          cidade|estado|
+--------------------+--------------------+--------------------+----------------+------------------+---------------------------+----------------+------+
|ccbabeb0b02433bd0...|16090f2ca825584b5...|c77ee2d8ba1614a4d...|             Sim|                18|                         22|         Uberaba|    MG|
|c6bf92017bd40729c...|36a968b544695394e...|3d3c463710ea6e8dd...|             Sim|                 7|                          8|          Sumare|    SP|
|ab87dc5a5f1856a10...|b410bdd36d5db7a65...|538a4d02876412846...|             Sim|                 7|                         43|         Uberaba|    MG|
|06ff862a85c2402aa...|7e3f87d16fb353f40...|0a978c825ff7d0131...|             Não|                28|                         28|       Fortaleza|    CE|
|f23155f5fa9b82663...|74c7dec0a384d8a05...|21a99191298d34fb6...|             Sim|                12|                         23|  Rio De Janeiro|    RJ|
|69fd81b0cd556f5da...|080102cd0a76b09e0...|6ad71323c11ba8a83...|             Sim|                 3|                         24|Sao Bento Do Sul|    SC|
|d40dd8018a5302969...|8e6cc767478edae94...|0470c47f1dd7a91d0...|             Sim|                14|                         21|     Sete Lagoas|    MG|
|42560dfc8d7863a19...|f181738b150df1f37...|0f3a81be69f12da7e...|             Sim|                 2|                         15|       Sao Paulo|    SP|
|3f003568147c78508...|08d0949a9a17c0272...|72d90899884781ae2...|             Sim|                14|                         29|   Florianopolis|    SC|
|db192ddb0ea5a4d7a...|7142540dd4c91e223...|c21e33cbee939409e...|             Sim|                 6|                         20|          Urupes|    SP|
|57ffea3f7ad916af2...|2b1a40c1daabc6ca2...|3612f0bb7c0079715...|             Sim|                12|                         26|         Itajuba|    MG|
|ccb8ee5d95fda8158...|da8622b14eb17ae28...|07000867c38ba037c...|             Sim|                12|                         15|        Campinas|    SP|
|c1784d1cbbff59b5a...|0c7533c71df861ec5...|09d9f8180c32474c9...|             Sim|                10|                         17|         Vitoria|    ES|
|019886de8f385a39b...|1b4c3a6f53068f0b6...|8cf88d7ba142365ef...|             Sim|                13|                         32|    Campo Grande|    MS|
|2107484004fafd3fa...|ed4acab38528488b6...|c7aef0278d3d09b9f...|             Sim|                 9|                         17|       Sao Paulo|    SP|
|d924b2f481ea43a95...|3d871de0142ce09b7...|589d137c275b6d5fe...|             Sim|                 5|                         29|        Rubiacea|    SP|
|d80f699fe4f9cb9ee...|1dc2de47ee26a0a5b...|9be5bed664fb43b1a...|             Sim|                 9|                         29|        Arapoema|    TO|
|5ca62592256e82604...|fe2032dab1a61af87...|958010b935cffa45c...|             Sim|                24|                         36|        Sao Luis|    MA|
|ea97a4da26b071abe...|96493fab2fbb13a14...|d1edc9caf0eb9ebc2...|             Sim|                13|                         34|          Mallet|    PR|
|27687629d1e64c201...|d921b68bf747894be...|b01592e974c5b73b5...|             Sim|                13|                         20|       Sao Paulo|    SP|
+--------------------+--------------------+--------------------+----------------+------------------+---------------------------+----------------+------+
only showing top 20 rows

=== Amostra da view view_tempo_medio_entrega_localidade ===
+-------------------+------+-------------------+--------------------+--------------------------+
|             cidade|estado|tempo_medio_entrega|tempo_medio_estimado|entrega_maior_que_estimado|
+-------------------+------+-------------------+--------------------+--------------------------+
|        Novo Brasil|    ES|                148|                  22|                       SIM|
|  Capinzal Do Norte|    MA|                109|                  31|                       SIM|
|  Adhemar De Barros|    PR|                 98|                  25|                       SIM|
|Santa Cruz De Goias|    GO|                 87|                  51|                       SIM|
|              Arace|    ES|                 87|                  34|                       SIM|
|        Santa Maria|    RJ|                 84|                  28|                       SIM|
|   Marcelino Vieira|    RN|                 78|                  29|                       SIM|
| Serra Dos Dourados|    PR|                 75|                  23|                       SIM|
|            Aramari|    BA|                 74|                  31|                       SIM|
|           Humildes|    BA|                 72|                  30|                       SIM|
+-------------------+------+-------------------+--------------------+--------------------------+


=== Amostra da view view_vendedor_pontualidade (ordenado por maior percentual de atraso) ===
+--------------------+-------------+---------------+-----------------+
|         id_vendedor|total_pedidos|total_atrasados|percentual_atraso|
+--------------------+-------------+---------------+-----------------+
|e5bd51692380fd8ca...|            2|              2|            100.0|
|1352e06ae67b410cd...|            2|              2|            100.0|
|984c273121e743dd1...|            1|              1|            100.0|
|685b870da5b52a710...|            2|              2|            100.0|
|d8dd176509baa37f3...|            2|              2|            100.0|
|1b4b28463457a256e...|            1|              1|            100.0|
|8629a7efec1aab257...|            1|              1|            100.0|
|6524b847b982cd56b...|            2|              2|            100.0|
|df683dfda87bf71ac...|            1|              1|            100.0|
|6d04126aba80df143...|            1|              1|            100.0|
|9bf11dfc0bec77e5a...|            1|              1|            100.0|
|bcd2d7510d58e293f...|            1|              1|            100.0|
|791cfcfe22fe4a771...|            1|              1|            100.0|
|3da38366e7bd9baf6...|            1|              1|            100.0|
|ca5832c6960267b71...|            1|              1|            100.0|
|f5fea3ffed6c2e889...|            1|              1|            100.0|
|4e42581f08e8cfc7c...|            2|              2|            100.0|
|be1e9e378700cecaa...|            2|              2|            100.0|
|efb628aa07c8ca93d...|            1|              1|            100.0|
|7c462184585ae80bd...|            2|              2|            100.0|
+--------------------+-------------+---------------+-----------------+
only showing top 20 rows

In [0]:
# === 3º PROJETO — ÁREA COMERCIAL (ANÁLISES DE VENDAS POR PERÍODO) ===

# 3.1 - Criar Dimensão de Tempo — gold.dm_tempo
spark.sql("""
CREATE OR REPLACE TABLE gold.dm_tempo
USING delta
AS
WITH date_sequence AS (
  SELECT explode(sequence(
    to_date('2016-01-01'), 
    to_date('2018-12-31'), 
    interval 1 day
  )) as sk_tempo
)
SELECT 
  sk_tempo,
  YEAR(sk_tempo) as ano,
  QUARTER(sk_tempo) as trimestre,
  MONTH(sk_tempo) as mes,
  WEEKOFYEAR(sk_tempo) as semana_do_ano,
  DAY(sk_tempo) as dia,
  DAYOFWEEK(sk_tempo) as dia_da_semana_num,
  CASE DAYOFWEEK(sk_tempo)
    WHEN 1 THEN 'Domingo'
    WHEN 2 THEN 'Segunda-feira'
    WHEN 3 THEN 'Terça-feira'
    WHEN 4 THEN 'Quarta-feira'
    WHEN 5 THEN 'Quinta-feira'
    WHEN 6 THEN 'Sexta-feira'
    WHEN 7 THEN 'Sábado'
  END as dia_da_semana_nome,
  CASE MONTH(sk_tempo)
    WHEN 1 THEN 'Janeiro'
    WHEN 2 THEN 'Fevereiro'
    WHEN 3 THEN 'Março'
    WHEN 4 THEN 'Abril'
    WHEN 5 THEN 'Maio'
    WHEN 6 THEN 'Junho'
    WHEN 7 THEN 'Julho'
    WHEN 8 THEN 'Agosto'
    WHEN 9 THEN 'Setembro'
    WHEN 10 THEN 'Outubro'
    WHEN 11 THEN 'Novembro'
    WHEN 12 THEN 'Dezembro'
  END as mes_nome,
  CASE 
    WHEN DAYOFWEEK(sk_tempo) IN (1, 7) THEN 'Sim'
    ELSE 'Não'
  END as eh_fim_de_semana
FROM date_sequence
""")

print("\n=== Amostra DISTRIBUÍDA da gold.dm_tempo(dos 3 anos) ===")
spark.sql("""
SELECT * FROM gold.dm_tempo 
WHERE 
    sk_tempo = '2016-01-01' OR
    sk_tempo = '2016-06-15' OR
    sk_tempo = '2016-12-31' OR
    sk_tempo = '2017-04-01' OR
    sk_tempo = '2017-08-15' OR
    sk_tempo = '2017-12-25' OR
    sk_tempo = '2018-03-20' OR
    sk_tempo = '2018-07-04' OR
    sk_tempo = '2018-09-15' OR
    sk_tempo = '2018-12-31'
ORDER BY sk_tempo
""").show(truncate=False)

=== Amostra DISTRIBUÍDA da gold.dm_tempo(dos 3 anos) ===
+----------+----+---------+---+-------------+---+-----------------+------------------+--------+----------------+
|sk_tempo  |ano |trimestre|mes|semana_do_ano|dia|dia_da_semana_num|dia_da_semana_nome|mes_nome|eh_fim_de_semana|
+----------+----+---------+---+-------------+---+-----------------+------------------+--------+----------------+
|2016-01-01|2016|1        |1  |53           |1  |6                |Sexta-feira       |Janeiro |Não             |
|2016-06-15|2016|2        |6  |24           |15 |4                |Quarta-feira      |Junho   |Não             |
|2016-12-31|2016|4        |12 |52           |31 |7                |Sábado            |Dezembro|Sim             |
|2017-04-01|2017|2        |4  |13           |1  |7                |Sábado            |Abril   |Sim             |
|2017-08-15|2017|3        |8  |33           |15 |3                |Terça-feira       |Agosto  |Não             |
|2017-12-25|2017|4        |12 |52           |25 |2                |Segunda-feira     |Dezembro|Não             |
|2018-03-20|2018|1        |3  |12           |20 |3                |Terça-feira       |Março   |Não             |
|2018-07-04|2018|3        |7  |27           |4  |4                |Quarta-feira      |Julho   |Não             |
|2018-09-15|2018|3        |9  |37           |15 |7                |Sábado            |Setembro|Sim             |
|2018-12-31|2018|4        |12 |1            |31 |2                |Segunda-feira     |Dezembro|Não             |
+----------+----+---------+---+-------------+---+-----------------+------------------+--------+----------------+

In [0]:
# 3.2 - Criar a Tabela Fato gold.ft_vendas_geral
spark.sql("""
CREATE OR REPLACE TABLE gold.ft_vendas_geral
USING delta
AS
SELECT 
    i.id_pedido,
    CONCAT(i.id_pedido, '_', i.item_pedido) as id_item,
    p.id_cliente as fk_cliente,
    i.id_produto as fk_produto,
    i.id_vendedor as fk_vendedor,
    CAST(p.data_compra AS DATE) as fk_tempo,
    p.status_pedido,
    DATEDIFF(p.data_entrega_cliente, p.data_compra) as tempo_entrega_dias,
    CASE 
        WHEN p.data_entrega_cliente IS NULL THEN 'Não Entregue'
        WHEN p.data_entrega_cliente <= p.data_estimada_entrega THEN 'Sim'
        ELSE 'Não'
    END as entrega_no_prazo,
    i.preco as valor_produto_brl,
    i.valor_frete as valor_frete_brl,
    (i.preco + i.valor_frete) as valor_total_item_brl,
    ROUND(i.preco * 0.19, 2) as valor_produto_usd,
    ROUND(i.valor_frete * 0.19, 2) as valor_frete_usd,
    ROUND((i.preco + i.valor_frete) * 0.19, 2) as valor_total_item_usd,
    0.19 as cotacao_dolar,
    COALESCE(a.media_avaliacao, 0) as avaliacao_pedido
FROM silver.ft_item_pedido i
JOIN silver.dim_pedido p ON i.id_pedido = p.id_pedido
LEFT JOIN (
    SELECT id_pedido, AVG(pontuacao) as media_avaliacao
    FROM silver.ft_avaliacao_pedido 
    GROUP BY id_pedido
) a ON i.id_pedido = a.id_pedido
WHERE p.data_compra IS NOT NULL
""")

print("\n=== Amostra da gold.ft_vendas_geral ===")
spark.sql("SELECT * FROM gold.ft_vendas_geral").show(truncate=False)

=== Amostra da gold.ft_vendas_geral ===
+--------------------------------+----------------------------------+--------------------------------+--------------------------------+--------------------------------+----------+-------------+------------------+----------------+-----------------+---------------+--------------------+-----------------+---------------+--------------------+-------------+----------------+
|id_pedido                       |id_item                           |fk_cliente                      |fk_produto                      |fk_vendedor                     |fk_tempo  |status_pedido|tempo_entrega_dias|entrega_no_prazo|valor_produto_brl|valor_frete_brl|valor_total_item_brl|valor_produto_usd|valor_frete_usd|valor_total_item_usd|cotacao_dolar|avaliacao_pedido|
+--------------------------------+----------------------------------+--------------------------------+--------------------------------+--------------------------------+----------+-------------+------------------+----------------+-----------------+---------------+--------------------+-----------------+---------------+--------------------+-------------+----------------+
|2107484004fafd3fa95b3ddefb066aed|2107484004fafd3fa95b3ddefb066aed_2|c7aef0278d3d09b9f80219ae272cc0cd|ecaaaccb5eb3102553f001d62db6389e|ed4acab38528488b65a9a9c603ff024a|2018-01-07|delivered    |9                 |Sim             |389.99           |9.98           |399.97              |74.1             |1.9            |75.99               |0.19         |2.0             |
|f338343b96ced9d8ba7f84a53fd69a40|f338343b96ced9d8ba7f84a53fd69a40_1|265b87c2715d7f3be7b5585693dab64f|e84997d75938765ef99930f908ceedf4|cd6efc47efaabf134f8bdb654e10b4f1|2018-06-29|delivered    |7                 |Sim             |127.0            |18.69          |145.69              |24.13            |3.55           |27.68               |0.19         |5.0             |
|d4308c105262daee5f407e855f5c1e25|d4308c105262daee5f407e855f5c1e25_1|ab5cf57386da1f9ca72e6d68e511daa1|2b4609f8948be18874494203496bc318|cc419e0650a3c5ba77189a1882b7556a|2018-07-08|delivered    |9                 |Sim             |79.99            |18.66          |98.64999999999999   |15.2             |3.55           |18.74               |0.19         |4.0             |
|33c395f5b7eaa637304434e553d45cf1|33c395f5b7eaa637304434e553d45cf1_2|6964f3f60ad8c5ff9e3ff42d8747fbe3|777ce6cfb2608acfd20cd07f80094e72|4a1917ef994878940e1fb03eeb787ad7|2018-06-19|delivered    |9                 |Sim             |269.0            |25.03          |294.03              |51.11            |4.76           |55.87               |0.19         |2.0             |
|36f3f1d96022b41043bf6db3266453cd|36f3f1d96022b41043bf6db3266453cd_1|840b5c8902b80e63aa691ca5cbaa9bb6|2de5c479fb0c490a0f2a2f3ab36e71b6|dfc5fb7259bb2b599ca565e6e9448f0f|2018-05-25|delivered    |17                |Sim             |174.99           |20.19          |195.18              |33.25            |3.84           |37.08               |0.19         |5.0             |
|222e1e28fb0988b1d06fdd31082d7625|222e1e28fb0988b1d06fdd31082d7625_2|6db1d46b53c6eebb6acf6f0f52736350|64fb265487de2238627ce43fe8a67efc|4a3ca9315b744ce9f8e9374361493884|2018-03-13|delivered    |21                |Sim             |92.9             |26.73          |119.63000000000001  |17.65            |5.08           |22.73               |0.19         |4.0             |
|69673f2942f230a76d45815ea310fcc1|69673f2942f230a76d45815ea310fcc1_1|430faa4c9224e8d08dd34e09c3daa1b8|e9a69340883a438c3f91739d14d3a56d|1b4c3a6f53068f0b6944d2d005c9fc89|2017-04-03|delivered    |8                 |Sim             |169.9            |22.66          |192.56              |32.28            |4.31           |36.59               |0.19         |5.0             |
|a92225110bfd8206a036f272ccf0fb1b|a92225110bfd8206a036f272ccf0fb1b_1|7f96cdc06aa0cfe77e71187d5035f22f|7f064525eaaa1ce9d22c085f7ff5413a|6560211a19b47992c3666cc44a7e94c0|2018-05-03|delivered    |12                |Sim             |49.0             |18.23          |67.23               |9.31             |3.46           |12.77               |0.19         |5.0             |
|218359f6652231bd2360d84326ffc578|218359f6652231bd2360d84326ffc578_1|f9f1a8a4b69d608c6436c9a1b8c5849b|a5e28e21acf7c99188ad33f688f18837|9f505651f4a6abe901a56cdc21508025|2018-05-09|delivered    |2                 |Sim             |39.0             |11.15          |50.15               |7.41             |2.12           |9.53                |0.19         |5.0             |
|e178bee213ba3b996d728678aea863a4|e178bee213ba3b996d728678aea863a4_1|8457e8b85783238318fbbcd115ad1e5b|b7bea0eb38a6cd6e90c00c9bc6422193|4830e40640734fc1c52cd21127c341d4|2018-01-29|delivered    |5                 |Sim             |47.0             |11.85          |58.85               |8.93             |2.25           |11.18               |0.19         |4.0             |
|4ec40a7013b2b2e20429009214c283b4|4ec40a7013b2b2e20429009214c283b4_1|0df8646043b2e16cb9d33ac55f0dd5b3|0820af09ddc75b84841b1fab4da4be9b|d91fb3b7d041e83b64a00a3edfb37e4f|2017-12-03|delivered    |4                 |Sim             |10.8             |8.27           |19.07               |2.05             |1.57           |3.62                |0.19         |5.0             |
|8bb932f44e796fe5ea0bb0707157461b|8bb932f44e796fe5ea0bb0707157461b_1|8daf98257fcecfb8357d9f64011b654c|453b0d78c257bdb2b47099a6a1c22040|f5a590cf36251cf1162ea35bef76fe84|2017-07-31|delivered    |7                 |Sim             |290.0            |16.79          |306.79              |55.1             |3.19           |58.29               |0.19         |5.0             |
|ab87dc5a5f1856a10640d5f42e4c2fd9|ab87dc5a5f1856a10640d5f42e4c2fd9_1|538a4d02876412846b966a3c057395e5|f8b624d4e475bb8d1bddf1b65c6a64f6|b410bdd36d5db7a65dcd42b7ead933b8|2018-06-04|delivered    |7                 |Sim             |179.0            |31.9           |210.9               |34.01            |6.06           |40.07               |0.19         |5.0             |
|26bc5ef62b82a4329284e5b177e34e9c|26bc5ef62b82a4329284e5b177e34e9c_1|bb12662d89eaf5e7cfc75d41c18fd7a3|281bbfe70848e0b304bef88fc2caf2c3|4b9750c8ad28220fe6702d4ecb7c898f|2018-06-22|delivered    |10                |Sim             |48.9             |9.47           |58.37               |9.29             |1.8            |11.09               |0.19         |3.0             |
|852d24d230e0038f83e1337c4ab06147|852d24d230e0038f83e1337c4ab06147_1|7ae079405bb999ea70d1c458cbf2e82c|cc28e7bdcc3ea1721d32acf3724d99d0|af3ef48d0e13835e529c29ac573c63e5|2018-06-10|delivered    |15                |Sim             |102.62           |24.11          |126.73              |19.5             |4.58           |24.08               |0.19         |4.0             |
|bda35b10977d165ff7f6ae6ce187a4e3|bda35b10977d165ff7f6ae6ce187a4e3_3|51f650a65f069672f200ed66b550662f|1f532d60bbc8273d9dd553120f6e47d5|e9511df20ccd82658a30c37b7fb343af|2018-07-28|delivered    |5                 |Sim             |106.6            |24.36          |130.95999999999998  |20.25            |4.63           |24.88               |0.19         |5.0             |
|1816598bbdabc09eaf2174d9e02e0606|1816598bbdabc09eaf2174d9e02e0606_1|e9024de0cde5de0becbf917e1ea5a17f|37be426992f83a0fe7922c694f0d6947|7ecd59e5e20407131822c1a68ac59c1f|2018-01-14|delivered    |23                |Sim             |69.99            |27.03          |97.02               |13.3             |5.14           |18.43               |0.19         |4.0             |
|f23155f5fa9b826631c5b8e038b38393|f23155f5fa9b826631c5b8e038b38393_1|21a99191298d34fb6dd0b088e821591c|052b8660ee8a9ee18815d9b276694a10|74c7dec0a384d8a05950e629bd23bde9|2017-09-20|delivered    |12                |Sim             |19.99            |15.1           |35.089999999999996  |3.8              |2.87           |6.67                |0.19         |5.0             |
|777ee9fd50fbe50e788ef536b1656b08|777ee9fd50fbe50e788ef536b1656b08_1|81d15034733f633b91858fc912702c79|8d7fb99738e3e3abeeb1aa30d3c7f69f|dbb9b48c841a0e39e21f98e1a6b2ec3e|2017-04-10|delivered    |9                 |Sim             |99.99            |11.31          |111.3               |19.0             |2.15           |21.15               |0.19         |5.0             |
|3f003568147c785083d014edfba38c48|3f003568147c785083d014edfba38c48_1|72d90899884781ae2fc19e49cc102fc0|8d5ab785e6761f35bf54eca83846dd2e|08d0949a9a17c027262db1f3c450c26c|2018-06-18|delivered    |14                |Sim             |12.9             |18.23          |31.130000000000003  |2.45             |3.46           |5.91                |0.19         |1.0             |
+--------------------------------+----------------------------------+--------------------------------+--------------------------------+--------------------------------+----------+-------------+------------------+----------------+-----------------+---------------+--------------------+-----------------+---------------+--------------------+-------------+----------------+
only showing top 20 rows

In [0]:
# === 3.3 - VIEW VENDAS POR PERÍODO E CONSULTAS ANALÍTICAS ===

spark.sql("""
CREATE OR REPLACE VIEW gold.view_vendas_por_periodo
AS
SELECT 
    t.ano,
    t.trimestre,
    t.mes,
    t.mes_nome,
    t.dia,
    t.dia_da_semana_num,
    COUNT(DISTINCT v.id_pedido) as total_pedidos,
    COUNT(v.id_item) as total_itens,
    ROUND(SUM(v.valor_total_item_brl), 2) as receita_total_brl,
    ROUND(SUM(v.valor_total_item_usd), 2) as receita_total_usd,
    ROUND(AVG(v.valor_total_item_brl), 2) as ticket_medio_brl,
    ROUND(AVG(CASE WHEN v.avaliacao_pedido > 0 THEN v.avaliacao_pedido END), 2) as avaliacao_media
FROM gold.ft_vendas_geral v
JOIN gold.dm_tempo t ON v.fk_tempo = t.sk_tempo
GROUP BY 
    t.ano,
    t.trimestre,
    t.mes,
    t.mes_nome,
    t.dia,
    t.dia_da_semana_num
""")

print("\n=== Amostra da view view_vendas_por_periodo ===")
spark.sql("SELECT * FROM gold.view_vendas_por_periodo ORDER BY receita_total_brl DESC").show()

print("\n=== CONSULTAS ANALÍTICAS ===")

print("1. Qual é o dia da semana com maior receita total em reais?")
spark.sql("""
SELECT 
    dia_da_semana_num,
    CASE dia_da_semana_num
        WHEN 1 THEN 'Domingo'
        WHEN 2 THEN 'Segunda-feira'
        WHEN 3 THEN 'Terça-feira'
        WHEN 4 THEN 'Quarta-feira'
        WHEN 5 THEN 'Quinta-feira'
        WHEN 6 THEN 'Sexta-feira'
        WHEN 7 THEN 'Sábado'
    END as dia_semana,
    SUM(receita_total_brl) as receita_total
FROM gold.view_vendas_por_periodo
GROUP BY dia_da_semana_num
ORDER BY receita_total DESC
LIMIT 1
""").show()

print("2. Considerando o último ano disponível, qual foi o mês com maior ticket médio?")
spark.sql("""
SELECT 
    mes,
    mes_nome,
    ROUND(AVG(ticket_medio_brl), 2) as ticket_medio
FROM gold.view_vendas_por_periodo
WHERE ano = (SELECT MAX(ano) FROM gold.view_vendas_por_periodo)
GROUP BY mes, mes_nome
ORDER BY ticket_medio DESC
LIMIT 1
""").show()

=== Amostra da view view_vendas_por_periodo ===
+----+---------+---+---------+---+-----------------+-------------+-----------+-----------------+-----------------+----------------+---------------+
| ano|trimestre|mes| mes_nome|dia|dia_da_semana_num|total_pedidos|total_itens|receita_total_brl|receita_total_usd|ticket_medio_brl|avaliacao_media|
+----+---------+---+---------+---+-----------------+-------------+-----------+-----------------+-----------------+----------------+---------------+
|2017|        4| 11| Novembro| 24|                6|         1166|       1366|        178377.63|         33892.02|          130.58|           3.64|
|2017|        4| 11| Novembro| 25|                7|          498|        580|         71858.16|         13653.14|          123.89|           3.58|
|2018|        3|  8|   Agosto|  6|                2|          372|        430|         65860.42|         12513.55|          153.16|           4.17|
|2018|        2|  5|     Maio| 16|                4|          357|        406|         64739.09|          12300.3|          159.46|           4.12|
|2018|        2|  5|     Maio|  7|                2|          371|        421|         62460.21|         11867.47|          148.36|           4.18|
|2018|        2|  5|     Maio| 14|                2|          364|        413|         62230.72|         11823.85|          150.68|            4.1|
|2018|        2|  5|     Maio| 10|                5|          279|        335|         58871.89|         11185.58|          175.74|           4.12|
|2018|        3|  8|   Agosto|  7|                3|          366|        431|         58294.38|         11076.16|          135.25|           3.95|
|2018|        2|  6|    Junho| 11|                2|          294|        338|         57313.28|         10889.52|          169.57|           4.31|
|2017|        4| 11| Novembro| 27|                2|          400|        474|         56644.85|         10762.76|           119.5|           3.64|
|2017|        4| 11| Novembro| 28|                3|          376|        431|         56248.47|         10687.25|          130.51|           3.83|
|2018|        2|  4|    Abril|  9|                2|          253|        290|         55782.82|         10598.69|          192.35|            4.3|
|2018|        2|  5|     Maio|  8|                3|          327|        378|         54720.09|         10396.76|          144.76|           4.24|
|2017|        4| 12| Dezembro|  4|                2|          331|        369|         54260.12|         10309.46|          147.05|           3.95|
|2017|        4| 11| Novembro| 26|                1|          388|        456|          53595.2|         10183.18|          117.53|            3.7|
|2018|        3|  7|    Julho| 31|                3|          320|        377|         53402.24|         10146.38|          141.65|           4.11|
|2018|        1|  3|    Março| 19|                2|          302|        366|         52581.75|          9990.47|          143.67|           3.69|
|2018|        3|  8|   Agosto| 15|                4|          285|        317|         52358.65|          9948.15|          165.17|           4.28|
|2018|        1|  2|Fevereiro| 28|                4|          312|        358|         52260.55|          9929.58|          145.98|           3.52|
|2017|        4| 11| Novembro| 23|                5|          277|        336|         51499.46|          9784.83|          153.27|           3.82|
+----+---------+---+---------+---+-----------------+-------------+-----------+-----------------+-----------------+----------------+---------------+
only showing top 20 rows

=== CONSULTAS ANALÍTICAS ===
1. Qual é o dia da semana com maior receita total em reais?
+-----------------+-------------+------------------+
|dia_da_semana_num|   dia_semana|     receita_total|
+-----------------+-------------+------------------+
|                2|Segunda-feira|2600533.8200000003|
+-----------------+-------------+------------------+

2. Considerando o último ano disponível, qual foi o mês com maior ticket médio?
+---+--------+------------+
|mes|mes_nome|ticket_medio|
+---+--------+------------+
|  9|Setembro|      166.46|
+---+--------+------------+

In [0]:
# === 3.4 - VIEW TOP PRODUTOS ===

spark.sql("""
CREATE OR REPLACE VIEW gold.view_top_produto
AS
SELECT 
    v.fk_produto as id_produto,
    p.categoria_produto,
    COUNT(v.id_item) as quantidade_vendida,
    COUNT(DISTINCT v.id_pedido) as total_pedidos,
    ROUND(SUM(v.valor_total_item_brl), 2) as receita_brl,
    ROUND(SUM(v.valor_total_item_usd), 2) as receita_usd,
    ROUND(AVG(v.valor_produto_brl), 2) as preco_medio_brl,
    ROUND(AVG(CASE WHEN v.avaliacao_pedido > 0 THEN v.avaliacao_pedido END), 2) as avaliacao_media,
    ROUND(AVG(p.peso_g), 2) as peso_medio_gramas
FROM gold.ft_vendas_geral v
JOIN silver.dim_produto p ON v.fk_produto = p.id_produto
GROUP BY v.fk_produto, p.categoria_produto
""")

print("\n=== Amostra da view view_top_produto (ordenado por maior receita) ===")
spark.sql("SELECT * FROM gold.view_top_produto ORDER BY receita_brl DESC").show()

print("\n=== Top categorias por receita ===")
spark.sql("""
SELECT 
    categoria_produto,
    COUNT(*) as total_produtos,
    SUM(quantidade_vendida) as total_vendido,
    ROUND(SUM(receita_brl), 2) as receita_total_brl
FROM gold.view_top_produto
GROUP BY categoria_produto
ORDER BY receita_total_brl DESC
LIMIT 10
""").show()

=== Amostra da view view_top_produto (ordenado por maior receita) ===
+--------------------+--------------------+------------------+-------------+-----------+-----------+---------------+---------------+-----------------+
|          id_produto|   categoria_produto|quantidade_vendida|total_pedidos|receita_brl|receita_usd|preco_medio_brl|avaliacao_media|peso_medio_gramas|
+--------------------+--------------------+------------------+-------------+-----------+-----------+---------------+---------------+-----------------+
|bb50f2e236e5eea01...|        Beleza_saude|               195|          187|    67606.1|   12844.96|         327.62|           4.22|            400.0|
|d1c427060a0f73f6b...|Informatica_acess...|               343|          323|   60976.03|   11585.25|         137.65|           4.19|           6550.0|
|6cdd53843498f9289...|        Beleza_saude|               156|          151|   59093.99|   11227.81|         350.83|           4.31|            900.0|
|99a4788cb24856965...|     Cama_mesa_banho|               488|          467|    51071.6|    9703.68|          88.17|            3.9|           1383.0|
|d6160fb7873f18409...|                 Pcs|                35|           35|   50326.18|    9561.97|        1397.12|           4.57|           2600.0|
|3dd2a17168ec895c7...|Informatica_acess...|               274|          255|   48212.22|    9160.47|         149.94|           4.21|            533.0|
|aca2eb7d00ea1a7b8...|    Moveis_decoracao|               527|          431|   44820.76|    8516.26|          71.36|           4.02|           2600.0|
|5f504b3a1c75b73d6...|          Cool_stuff|                63|           63|   41725.81|    7927.85|         598.95|           4.56|          15350.0|
|25c38557cf793876c...|               Bebes|                38|           38|   40311.95|    7659.27|        1023.88|           2.68|          15800.0|
|53b36df67ebb7c415...|  Relogios_presentes|               323|          306|   39957.93|    7591.87|         116.67|           4.19|            584.0|
|e0d64dcfaa3b6db5c...|  Relogios_presentes|               194|          194|   35344.09|    6715.53|         163.85|           3.78|           4338.0|
|422879e10f4668299...|  Ferramentas_jardim|               484|          352|   34201.26|    6498.24|          54.91|           3.96|           1550.0|
|d285360f29ac7fd97...|  Relogios_presentes|               123|          122|   33607.57|    6385.51|          257.1|           3.72|            363.0|
|f1c7f353075ce59d8...|     Cama_mesa_banho|               154|          150|   33316.76|     6330.2|         194.79|           4.36|           9750.0|
|7a10781637204d8d1...|  Relogios_presentes|               143|          142|   32790.74|    6230.32|         213.06|           4.08|            342.0|
|f819f0c84a64f02d3...|  Relogios_presentes|                45|           45|   30449.69|    5785.45|         644.99|           4.09|            710.0|
|588531f8ec37e7d5f...|                 Pcs|                20|           19|   29080.21|    5525.27|         1414.6|           4.26|           2750.0|
|389d119b48cf3043d...|  Ferramentas_jardim|               392|          311|   28682.68|    5449.85|           54.7|           4.11|           1750.0|
|a62e25e09e05e6faf...|  Relogios_presentes|               226|          172|    27998.3|    5319.87|         106.42|           3.86|           1000.0|
|368c6c730842d7801...|  Ferramentas_jardim|               388|          291|    27984.4|    5317.35|          54.27|           3.92|           1650.0|
+--------------------+--------------------+------------------+-------------+-----------+-----------+---------------+---------------+-----------------+
only showing top 20 rows

=== Top categorias por receita ===
+--------------------+--------------+-------------+-----------------+
|   categoria_produto|total_produtos|total_vendido|receita_total_brl|
+--------------------+--------------+-------------+-----------------+
|        Beleza_saude|          2444|         9670|       1441248.07|
|  Relogios_presentes|          1329|         5991|       1305541.61|
|     Cama_mesa_banho|          3029|        11115|       1241681.72|
|       Esporte_lazer|          2867|         8641|       1156656.48|
|Informatica_acess...|          1639|         7827|        1059272.4|
|    Moveis_decoracao|          2657|         8334|        902511.79|
|Utilidades_domest...|          2335|         6964|        778397.77|
|          Cool_stuff|           789|         3796|        719329.95|
|          Automotivo|          1900|         4235|        685384.32|
|  Ferramentas_jardim|           753|         4347|        584219.21|
+--------------------+--------------+-------------+-----------------+

In [0]:
# === 3.5 - VIEW VENDAS PRODUTOS ESTÉTICOS (FASHION) - ===

spark.sql("""
CREATE OR REPLACE VIEW gold.view_vendas_produtos_esteticos
AS
WITH vendas_fashion AS (
    SELECT 
        v.id_item,
        v.id_pedido,
        v.fk_produto,
        v.fk_tempo,
        v.valor_total_item_brl,
        v.valor_total_item_usd,
        v.avaliacao_pedido,
        p.categoria_produto
    FROM gold.ft_vendas_geral v
    JOIN silver.dim_produto p ON v.fk_produto = p.id_produto
    WHERE p.categoria_produto LIKE 'Fashion%' 
       OR p.categoria_produto = 'Beleza_saude'
       OR p.categoria_produto = 'Perfumaria'
       OR p.categoria_produto = 'Malas_acessorios'
),
vendas_agrupadas AS (
    SELECT 
        t.ano,
        t.mes,
        vf.categoria_produto,
        COUNT(DISTINCT vf.id_pedido) as total_pedidos,
        COUNT(vf.id_item) as total_itens_vendidos,
        ROUND(SUM(vf.valor_total_item_brl), 2) as receita_total_brl,
        ROUND(SUM(vf.valor_total_item_usd), 2) as receita_total_usd,
        ROUND(AVG(vf.valor_total_item_brl), 2) as ticket_medio_brl,
        ROUND(AVG(vf.valor_total_item_usd), 2) as ticket_medio_usd,
        ROUND(AVG(CASE WHEN vf.avaliacao_pedido > 0 THEN vf.avaliacao_pedido END), 2) as avaliacao_media
    FROM vendas_fashion vf
    JOIN gold.dm_tempo t ON vf.fk_tempo = t.sk_tempo
    GROUP BY t.ano, t.mes, vf.categoria_produto
)
SELECT * FROM vendas_agrupadas
""")

print("\n=== Amostra da view view_vendas_produtos_esteticos ===")
spark.sql("SELECT * FROM gold.view_vendas_produtos_esteticos ORDER BY receita_total_brl DESC").show()

print("\n=== Estatísticas gerais por categoria fashion ===")
spark.sql("""
SELECT 
    categoria_produto,
    SUM(total_pedidos) as total_pedidos,
    SUM(total_itens_vendidos) as total_itens,
    ROUND(SUM(receita_total_brl), 2) as receita_total_brl,
    ROUND(AVG(ticket_medio_brl), 2) as ticket_medio_brl,
    ROUND(AVG(avaliacao_media), 2) as avaliacao_media
FROM gold.view_vendas_produtos_esteticos
GROUP BY categoria_produto
ORDER BY receita_total_brl DESC
""").show()

=== View gold.view_vendas_produtos_esteticos criada com sucesso! ===

=== Amostra da view view_vendas_produtos_esteticos ===
+----+---+-----------------+-------------+--------------------+-----------------+-----------------+----------------+----------------+---------------+
| ano|mes|categoria_produto|total_pedidos|total_itens_vendidos|receita_total_brl|receita_total_usd|ticket_medio_brl|ticket_medio_usd|avaliacao_media|
+----+---+-----------------+-------------+--------------------+-----------------+-----------------+----------------+----------------+---------------+
|2018|  8|     Beleza_saude|          778|                 849|        137206.07|         26069.53|          161.61|           30.71|           4.36|
|2018|  6|     Beleza_saude|          799|                 885|        125197.75|         23787.74|          141.47|           26.88|           4.36|
|2018|  7|     Beleza_saude|          713|                 784|        122743.98|         23321.47|          156.56|           29.75|           4.22|
|2018|  5|     Beleza_saude|          686|                 770|        110477.15|         20990.63|          143.48|           27.26|           4.24|
|2018|  4|     Beleza_saude|          626|                 694|        105197.96|         19987.56|          151.58|            28.8|           4.14|
|2018|  3|     Beleza_saude|          621|                 673|        102991.21|         19568.45|          153.03|           29.08|            3.7|
|2018|  2|     Beleza_saude|          607|                 668|         98161.14|         18650.58|          146.95|           27.92|           3.99|
|2017| 11|     Beleza_saude|          530|                 584|         89633.09|         17030.33|          153.48|           29.16|           4.07|
|2018|  1|     Beleza_saude|          572|                 628|         83215.86|         15810.98|          132.51|           25.18|           4.08|
|2017| 12|     Beleza_saude|          432|                 466|          69584.9|         13221.09|          149.32|           28.37|           4.11|
|2017|  9|     Beleza_saude|          360|                 380|         59101.68|         11229.34|          155.53|           29.55|           4.21|
|2017|  8|     Beleza_saude|          345|                 360|         56269.06|          10691.2|           156.3|            29.7|           4.26|
|2017|  5|     Beleza_saude|          267|                 290|         52801.02|         10032.27|          182.07|           34.59|           4.16|
|2017| 10|     Beleza_saude|          332|                 361|         48913.44|          9293.51|          135.49|           25.74|            4.2|
|2017|  7|     Beleza_saude|          278|                 316|         40419.76|          7680.09|          127.91|            24.3|           3.91|
|2017|  6|     Beleza_saude|          239|                 260|         37276.48|          7082.75|          143.37|           27.24|           4.23|
|2017| 11|       Perfumaria|          293|                 311|         36718.19|          6976.56|          118.06|           22.43|           3.95|
|2017| 12|       Perfumaria|          233|                 241|         31594.52|          6002.97|           131.1|           24.91|           4.11|
|2018|  6|       Perfumaria|          169|                 189|         31001.59|          5890.33|          164.03|           31.17|           4.32|
|2017|  3|     Beleza_saude|          193|                 211|         29852.87|          5671.99|          141.48|           26.88|           4.28|
+----+---+-----------------+-------------+--------------------+-----------------+-----------------+----------------+----------------+---------------+
only showing top 20 rows

=== Estatísticas gerais por categoria fashion ===
+--------------------+-------------+-----------+-----------------+----------------+---------------+
|   categoria_produto|total_pedidos|total_itens|receita_total_brl|ticket_medio_brl|avaliacao_media|
+--------------------+-------------+-----------+-----------------+----------------+---------------+
|        Beleza_saude|         8836|       9670|       1441248.07|          143.48|           3.96|
|          Perfumaria|         3162|       3419|        453338.71|          141.56|            4.2|
|Fashion_bolsas_e_...|         1864|       2031|        184273.54|           85.63|           4.19|
|    Malas_acessorios|         1034|       1092|        170875.21|          152.39|           4.35|
|    Fashion_calcados|          240|        262|         28481.64|          111.21|           4.35|
|Fashion_roupa_mas...|          112|        132|         12950.23|          112.54|           3.76|
|Fashion_underwear...|          121|        131|         11457.74|           79.11|           3.83|
|Fashion_roupa_fem...|           39|         48|          3425.39|           67.41|            3.7|
|     Fashion_esporte|           27|         30|          2697.64|           87.17|           4.36|
|Fashion_roupa_inf...|            8|          8|           665.36|           88.15|           4.43|
+--------------------+-------------+-----------+-----------------+----------------+---------------+